* {
  flex-wrap: wrap;
  margin: 0 auto;
  max-width: 900px;
  padding: 7px 20px;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
  background-color: rgb(241, 248, 240);
}

.Main {
  display: flex;
  flex-direction: column;
}

header > h1 {
  margin-bottom: 0px;

  width: max-content;
}

h1 {
  text-align: center;
  margin-bottom: 30px;
  font-family: fantasy;
  font-weight: bold;
  font-size: 40px;
}

.SearchBoard {
  display: flex;
  flex-direction: row;
  width: max-content;
  height: min-content;
  margin-top: 40px;
  margin-bottom: 40px;
}

input {
  border-radius: 20px;
}

select {
  border-radius: 20px;
  margin-left: 10px;
  border-width: 2px;
}

nav {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  border: 2px solid green;
  border-radius: 30px;
  color: rgb(5, 37, 26);
  margin-top: 50px;
  margin-bottom: 50px;
}

.header {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  flex-wrap: wrap;
  border: 2px solid green;
  border-radius: 30px;
  color: rgb(5, 37, 26);
}

a {
  text-decoration: none;
  color: black;
}
a:visited {
  text-decoration: none;
  color: black;
}
a:hover {
  text-decoration: underline;
  color: black;
}

a:active {
  color: black;
}

legend {
  display: none;
}

ul {
  list-style: none;
  background-color: white;
  margin-top: 7px;
}

li {
  color: rgb(91, 90, 90);
}

input[type="radio"],
input[type="checkbox"] {
  margin-right: 5px;
}
form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 739.5px;
}

input[type="number"] {
  width: 220px;
}

.body {
  margin-top: 30px;
  display: flex;
  flex-direction: column;
  text-align: left;
  height: 615px;
  width: 500px;
  padding: 28px 38px;
  border: 2px solid green;
  border-radius: 30px;
  box-shadow: 4px 4px 4px rgb(105, 105, 105);
  background-color: white;
}

.body p,
label,
input,
b,
li {
  background-color: white;
}

.bt {
  width: 500px;
  margin-top: 30px;
  display: flex;
  justify-content: space-around;
}

button {
  width: fit-content;
  border-radius: 30px;
  border: 1px solid green;
  box-shadow: 4px 4px 4px rgb(105, 105, 105);
  font-size: 17px;
}

#signup {
  background-color: rgb(78, 167, 68);
}

#cancel {
  background-color: rgb(248, 248, 248);
}

.body_2 {
  margin-top: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 315px;
  width: 500px;
  padding: 28px 38px;
  border: 2px solid green;
  border-radius: 30px;
  box-shadow: 4px 4px 4px rgb(105, 105, 105);
  background-color: white;
  gap: 20px;
}

.body_2 a {
  background-color: white;
}

.loginBt {
  width: 100%;
}
.body_2 button {
  background-color: rgb(78, 167, 68);
}

.body_2 input {
  width: 100%;
  height: 40px;
}

.Items {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.Item {
  display: flex;
  position: relative;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 0px;
  width: 200px;
  height: 250px;
  border: 2px solid green;
  text-align: center;
  margin-bottom: 50px;
}

.item {
  display: flex;
  flex-direction: "row";
  flex-wrap: wrap;
  width: fit-content;
}

.Item > img {
  position: relative;
  display: flex;
  padding: 0px;
  width: 80%;
  height: 70%;
}

.Category {
  font-size: larger;
}

.foot {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}

.foot > b {
  background-color: rgb(241, 248, 240);
}

.Detail {
  display: flex;

  flex-direction: column;
  position: absolute;
  width: 100%;
  top: 23%;
  left: 50%;
  opacity: 1;
  transform: translate(-50%, -50%);
}

.Detail > p {
  font-size: larger;
  font-weight: 900;
}
.Choose {
  display: flex;
  flex-direction: row;
}
.searchButton {
  margin-left: 5px;
}

@media (max-width: 480px) {
  nav {
    flex-direction: column;
  }
  .Items {
    flex-direction: column;
  }
  h1 {
    text-align: center;
    margin-bottom: 2px;
    font-family: fantasy;
    font-weight: bold;
    font-size: 20px;
  }
  .Detail {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    position: absolute;
    justify-content: center;
    align-items: center;
    width: 100%;
    top: 23%;
    left: 50%;
    opacity: 1;
  }
  .Choose {
    display: flex;
    flex-direction: column;
  }
  .Detail > p {
    font-size: small;
    height: auto;
    font-weight: 900;
  }
  .Choose > a {
    font-size: 0.5em;
  }
}

@media (min-width: 481px) and (max-width: 800px) {
  nav {
    flex-direction: column;
  }
  h1 {
    text-align: center;
    margin-bottom: 2px;
    font-family: fantasy;
    font-weight: bold;
    font-size: 25px;
  }
  .Detail {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    position: absolute;
    justify-content: center;
    align-items: center;
    width: 100%;
    top: 23%;
    left: 50%;
    opacity: 1;
  }
  .Choose {
    display: flex;
    flex-direction: column;
  }
  .Detail > p {
    font-size: small;
    height: auto;
    font-weight: 900;
  }
  .Choose > a {
    font-size: 0.5em;
  }
}
